.sectionContainer {
  width: 90%;
  max-width: 1000px; /* Alinha com a largura do teu Banner */
  margin: 60px auto 0 auto; /* Mais espaço da sinopse */
  display: flex;
  flex-direction: column;
}

.title {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 24px;
}

.castGrid {
  display: flex;
  gap: 16px;
  overflow-x: auto; /* Scroll horizontal se houver muitos atores */
  padding-bottom: 15px;
  scrollbar-width: none; /* Esconde scrollbar no Firefox */
}

.castGrid::-webkit-scrollbar {
  display: none; /* Esconde scrollbar no Chrome/Safari */
}

.cardWrapper {
  flex: 0 0 120px; /* Define a largura fixa de cada foto de ator */
}
