.user-card-container{

    display: flex;

}

.user-card-thumbnail{

    background-color: grey;
   padding: 30px 30px;
    border-radius: 50%;
}

.user-card-info{
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin-left: 30px;
 

}