.movieCard-container {
  background: #1f1f1f;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.movieCard-container:hover {
  transform: scale(1.05); /* Efeito de zoom ao passar o rato */
}

.movieCard-container img {
  width: 100%;
  height: auto;
  display: block;
}

.movieCard-container span {
  padding: 10px;
  color: white;
  font-size: 0.9rem;
}

/* Estilo específico para a nota/rating */
.movieCard-container span:last-child {
  color: #46d369; /* Verde para o rating */
  font-weight: bold;
  padding-top: 0;
}
