.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1); /* Animação suave */
}

/* O "Ponto" ativo transforma-se numa pílula roxa/azul como na tua imagem */
.active {
  width: 24px; /* Estica o ponto */
  background-color: #5a57cb; /* Cor roxa da imagem */
  border-radius: 10px;
}
