
.navbar{

    
    display: flex;
   justify-content: space-between;
   border: 8px solid green;
   
   padding: 1.75rem;
   
}

.usercard{


justify-content: center;
align-items: center;

}

.menubutton{

justify-content: center;
align-items: center;

}

.searchbar{

padding: 1rem;
border: 6px solid red;
align-items: center;
}