
.navbar{

    background-color: green;
    display: flex;
   justify-content: space-between;
   
   padding: 1.75rem;
   
}

.usercard{


justify-content: center;
align-items: center;

}

.menubutton{

justify-content: center;
align-items: center;

}

.searchbar{
background-color: yellow;
padding: 1rem;

align-items: center;
}