#root {
  
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #141414;
  color: rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Segoe UI', Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -0.5px; /* Dá um aspeto mais moderno/compacto */
}